@model EnterpriseServices.Controllers.PdfController.UrlToPdfData
@{
	Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

@* ReSharper disable UnknownCssClass *@
<div class="panel panel-primary full-height">
	<div class="panel-body full-height">
		<div class="row full-height">
			<div class="container full-height">
				<div>
					@using (Html.BeginForm("UrlToPdf", "Pdf", FormMethod.Post, new { id = "UrlToPdf", @class = "form-url-input" }))
					{
						@Html.HiddenFor(model => model.AdobeViewMode)
						<label for="url" class="sr-only">URL</label>
						@Html.TextBoxFor(model => model.Url, new { id = "Url", name = "Url", @class = "form-control", placeholder = "URL", required = "required" })
						<div id="labelContainer">
							@Html.CheckBoxFor(model => model.CleanHtml)
							@Html.LabelFor(model => model.CleanHtml, "Clean HTML")
							<a href="https://github.com/dvmorozov/pdfservice">@Html.Image("/Content/GitHub_Logo.png", "GitHub logo", "32px")</a>
						</div>
						<button class="btn btn-lg btn-primary btn-block" type="submit">Get PDF</button>
					}
				</div>
				@Html.Partial("_AdobeViewSDKDemo", Model)
			</div>
		</div>
	</div>
</div>
@* ReSharper restore UnknownCssClass *@